{% extends "base.html" %}

{% block meta %}
    <title>Tambah Project - {{ name }}</title>
{% endblock meta %}

{% block content %}

<main>
    <section class="experience-section">
        <div class="container">
            <p class="section-kicker">Portfolio</p>
            <h1>Tambah Project</h1>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit">
                    Tambah Project
                </button>
            </form>
        </div>
    </section>
</main>

{% endblock content %}